# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build files and outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Logs & OS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.idea/
